.bar {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    column-gap: .1rem;
}

.bar button {
    font-size: .5rem;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 3;
}

.disabled {
    cursor: default;
}

.enabled {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .bar button {
        font-size: .4rem;
    }
}

@media only screen and (max-width: 500px) {
    .bar button {
        font-size: .3rem;
    }
}

.bar span {
    flex-grow: 0;
    min-width: 4rem;
    font-size: .7rem;
}

@media only screen and (max-width: 600px) {
    .bar span {
        font-size: .6rem;
        min-width: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .bar span {
        font-size: .5rem;
        min-width: 2rem;
    }
}

.selected {
    background-color: #f9cd0b;
}